@import "./variables.scss";

//<editor-fold desc="COMMON">
/*html {
  @media (max-width: $breakpoint-md-max) {
    font-size: 14px;
  }

  @media (max-width: $breakpoint-sm-max) {
    font-size: 10px;
  }
}*/

body {
  @include roboto;
  color: $color-gray-500;
  padding-top: $base * 20;

  @media (max-width: $breakpoint-md-max) {
    padding-top: $base * 14;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  @include quicksand;
  margin: 0;
  padding: 0;
  font-weight: $fw-regular;
}

h2 {
  @include roboto;
  color: $color-blue-900;
  font-size: $fs-xxs;
  margin-bottom: $base * 4;
  text-transform: uppercase;
}

h3 {
  font-size: $fs-s;
}

h4 {
  font-size: $fs-l;
}

h5 {
  @include roboto;
  font-size: $fs-xxs;
  margin-bottom: $base * 4;
}

.section-subtitle {
  @include quicksand;
  color: $color-blue-900;
  margin-bottom: $base * 7;
  font-size: $fs-xxl;
}

.ta-с {
  text-align: center;
}

.section-outer {
  padding: 0 $base*5;
  border-bottom: 1px solid $color-divider;
}

.dots {
  display: flex;
  justify-content: center;
  @include list-null();

  &__item {
    width: $base * 2;
    height: $base * 2;
    border-radius: 100%;
    background-color: $color-gray-200;
    cursor: pointer;
    transition: $transition;

    &--active {
      background-color: $color-blue-600;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;

  &--wide {
    max-width: 1200px;
  }
}

.vertical-indent {
  @mixin vertical-indent($size) {
    padding-top: $size;
    padding-bottom: $size;
  }

  &--xs {
    @include vertical-indent($base * 5);
  }

  &--s {
    @include vertical-indent($base * 15);
  }

  &--m {
    @include vertical-indent($base * 23);
  }

  &--l {
    @include vertical-indent($base * 42);
  }

  &--xl {
    @include vertical-indent($base * 54);
  }

  @media (max-width: $breakpoint-md-max) {
    &--xs {
      @include vertical-indent($base * 2);
    }
    &--s {
      @include vertical-indent($base * 7);
    }
    &--m {
      @include vertical-indent($base * 11);
    }
    &--l {
      @include vertical-indent($base * 21);
    }
    &--xl {
      @include vertical-indent($base * 27);
    }
  }
}

.input {
  @include quicksand();
  padding: $base*3 $base*4;
  color: $color-gray-700;
  font-size: $fs-xs;
  font-weight: $fw-bold;
  border: 1px solid transparent;
  border-radius: $base/2;
  background: $color-gray-100;

  &--size-lg {
    padding: $base*5 $base*15 $base*5 $base*6;
    border-radius: $base;
  }
}

.btn {
  @include quicksand;
  display: inline-block;
  box-sizing: border-box;
  font-size: $fs-xs;
  font-weight: $fw-bold;
  padding: $base*3 $base*4;
  margin: 0;
  border: 1px solid transparent;
  border-radius: $base/2;
  background: none;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;
  white-space: nowrap;

  &--size-lg {
    padding: $base*5 $base*15;
    border-radius: $base;
  }

  &--primary {
    color: $color-blue-700;
    background-color: $color-blue-60;

    &:hover {
      background-color: darken($color-blue-60, 5%);
    }
  }

  &--secondary {
    color: $color-white;
    background-color: $color-blue-500;

    &:hover {
      background-color: darken($color-blue-500, 5%);
    }

    &-inverted {
      color: $color-gray-900;
      background-color: $color-white;

      &:hover {
        background-color: darken($color-white, 9%);
      }
    }
  }

  &--grayscale {
    color: $color-gray-600;
    background-color: $color-gray-50;

    &:hover {
      background-color: darken($color-gray-50, 5%);
    }
  }

  &--danger {
    color: $color-red-600;
    background-color: $color-red-50;

    &:hover {
      background-color: darken($color-red-50, 5%);
    }
  }

  &--transparent {
    color: $color-gray-300;
    border: 1px solid $color-gray-100;

    &:hover {
      color: darken($color-gray-300, 10%);
      border: 1px solid darken($color-gray-100, 10%);
    }

    &-inverted {
      color: $color-gray-100;
      border: 1px solid $color-blue-100;

      &:hover {
        color: lighten($color-gray-100, 9%);
        border: 1px solid lighten($color-blue-100, 10%);
      }
    }
  }
}

.btn-group {
  display: inline-flex;

  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:nth-child(2) {
    font-weight: $fw-light;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
//</editor-fold>

//<editor-fold desc="HEADER">
.btn-burger {
  display: none;
  margin-left: auto;

  &__line {
    display: block;
    width: $base * 4;
    height: $base / 2;
    background-color: $color-gray-200;

    & + & {
      margin-top: $base;
    }
  }

  @media (max-width: $breakpoint-md-max) {
    display: block;
  }
}
//</editor-fold>

//<editor-fold desc="NAVIGATIONS">
.main-navigation {
  display: flex;
  align-items: center;

  &__inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    margin-left: $base * 18;

    .section-header & {
      @media (max-width: $breakpoint-md-max) {
        display: none;

        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        margin-left: 0;
        padding: 0 $base*5 $base*5;
        background-color: $color-white;
        z-index: 7;
      }
    }

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;

      .socials, .nav {
        margin-bottom: $base * 4;
      }

      &, .socials, .btn-wrapper {
        margin-left: 0;
      }
    }
  }

  @media (max-width: $breakpoint-md-max) {
    .section-footer & {
      flex-direction: column;

      .logo {
        margin-bottom: $base * 4;
      }
    }
  }
}

.logo {
  &__link {
    display: block;
    width: $base * 6;
    height: $base * 6;
    border-radius: 100%;
    background-color: $color-blue-400;
  }
}

.nav-wrapper {
  display: flex;
  @include list-null();

  &__item {
    & + & {
      margin-left: $base * 10;

      @media (max-width: $breakpoint-xs-max) {
        margin-left: inherit;
      }
    }

    &-link {
      @include quicksand;
      font-size: $fs-xs;
      color: $color-gray-700;
      font-weight: $fw-medium;
      transition: $transition;

      &:hover {
        color: $color-blue-200;
      }

      &--active {
        font-weight: $fw-bold;
        color: $color-blue-200;
      }
    }

    @media (max-width: $breakpoint-xs-max) {
      margin-bottom: $base * 3;
    }
  }

  @media (max-width: $breakpoint-xs-max) {
    flex-direction: column;
    align-items: center;
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  @include list-null();

  &__item {
    & + & {
      margin-left: $base * 10;
    }


    &-link {
      path {
        fill: $color-gray-700;
        transition: $transition;
      }

      &:hover {
        path {
          fill: $color-blue-200;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}
//</editor-fold>

//<editor-fold desc="ANIMATION">
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
//</editor-fold>
