@import "./variables.scss";

//<editor-fold desc="Common">
body {
  @include roboto;
  color: #8d96bd;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  @include quicksand;
  margin: 0;
  padding: 0;
  color: #3d4f9f;
  font-weight: $fw-regular;
}

h1,
h2 {
  font-size: 48px;
  margin-bottom: $base * 7;
}

h3 {
  font-size: 36px;
  margin-bottom: $base * 7;
}

h4 {
  font-size: 24px;
}

h5 {
  @include roboto;
  font-size: 10px;
  margin-bottom: $base * 4;
}

.ta-с {
  text-align: center;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}

.dots {
  display: flex;
  justify-content: center;
  @include list-null();

  &__item {
    width: $base * 2;
    height: $base * 2;
    border-radius: 100%;
    background-color: #d1d6e3;
    cursor: pointer;
    transition: $transition;

    &--active {
      background-color: #5283ff;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

.input {
  @include quicksand();
  padding: $base*3 $base*4;
  color: #7a85ad;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  border: 1px solid transparent;
  border-radius: $base/2;
  background: #efeff7;

  &--size-lg {
    padding: $base*5 $base*15 $base*5 $base*6;
    border-radius: $base + 1;
  }
}

.btn {
  @include quicksand;
  display: inline-block;
  box-sizing: border-box;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  padding: $base*3 $base*4;
  margin: 0;
  border: 1px solid transparent;
  border-radius: $base/2;
  background: none;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;
  white-space: nowrap;

  &--size-lg {
    padding: $base*5 $base*15;
    border-radius: $base + 1;
  }

  &--primary {
    color: #3a79ff;
    background-color: #d2e1ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }

  &--secondary {
    color: #fff;
    background-color: #4c85ff;

    &:hover {
      background-color: darken(#4c85ff, 5%);
    }

    &-inverted {
      color: #565f82;
      background-color: #fff;

      &:hover {
        background-color: darken(#ffffff, 9%);
      }
    }
  }

  &--grayscale {
    color: #7382a3;
    background-color: #e8ecf4;

    &:hover {
      background-color: darken(#e8ecf4, 5%);
    }
  }

  &--danger {
    color: #d43f3f;
    background-color: #ffd7d7;

    &:hover {
      background-color: darken(#ffd7d7, 5%);
    }
  }

  &--transparent {
    color: #adb4d2;
    border: 1px solid #d1d1e4;

    &:hover {
      color: darken(#adb4d2, 10%);
      border: 1px solid darken(#d1d1e4, 10%);
    }

    &-inverted {
      color: #c7d3ff;
      border: 1px solid #a0b4ff;

      &:hover {
        color: lighten(#c7d3ff, 9%);
        border: 1px solid lighten(#a0b4ff, 10%);
      }
    }
  }
}

.btn-group {
  display: inline-flex;

  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:nth-child(2) {
    font-weight: $fw-light;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

//</editor-fold>

//<editor-fold desc="Header&Footer">
.main-navigation {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: $base * 18;
}

.logo {
  width: $base * 6;
  height: $base * 6;
  border-radius: 100%;
  background-color: #5e81fe;
}

.nav-wrapper {
  display: flex;
  @include list-null();

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;
      font-size: $fs-sm;
      color: $color-primary;
      font-weight: $fw-medium;
      transition: $transition;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        font-weight: $fw-bold;
        color: $color-secondary;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  @include list-null();

  &__item {
    & + & {
      margin-left: $base * 10;
    }


    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }

      &:hover {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}
//</editor-fold>
