@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

//<editor-fold desc="Mixins">
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin opensans {
  font-family: 'Open Sans', sans-serif;
}

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}
//</editor-fold>


//<editor-fold desc="Variables">
$base: 4px;

$fw-light: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;


//<editor-fold desc="Colors">

// Gray
//$color-primary-50: #d1d1e4;
$color-primary-50: #f5f8ff;
$color-primary-100: #e6e9f2;
$color-primary-200: #aeb8d0;
$color-primary-300: #adb4d2;
$color-primary-400: #8e96b7;
$color-primary-500: #8d96bd;
$color-primary-600: #7382a3;
$color-primary-700: #7a85ad;
$color-primary-800: #676f95;
$color-primary-900: #495274;

// Blue
$color-secondary-50: #e9efff;
$color-secondary-60: #d2e1ff;
$color-secondary-100: #a0b4ff;
$color-secondary-200: #6188ff;
$color-secondary-300: #5e80ff;
$color-secondary-400: #5e81fe;
$color-secondary-500: #4c85ff;
$color-secondary-600: #5283ff;
$color-secondary-700: #3a79ff;
$color-secondary-800: #4074f8;
$color-secondary-900: #3d4f9f;

// Red
$color-danger-50: #ffd7d7;
$color-danger-500: #ff3535;
$color-danger-600: #d43f3f;

// Cyan
$color-cyan-500: #35aaff;

// Warning
$color-warning-500: #ffc735;

$color-white: #ffffff;
$color-divider: $color-primary-50;

//$color-primary: #495274;
//$color-secondary: #6188ff;
//$color-third: #adb3cb;

//</editor-fold>

$transition: .2s;

//</editor-fold>
