@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

//<editor-fold desc="Mixins">
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin opensans {
  font-family: 'Open Sans', sans-serif;
}

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}
//</editor-fold>


//<editor-fold desc="Variables">
$base: 4px;

$fw-light: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xs: 12px;
$fs-s: 15px;
$fs-m: 18px;
$fs-l: 24px;
$fs-xl: 36px;
$fs-xxl: 48px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;


//<editor-fold desc="Colors">

// Gray
//$color-primary-50: #d1d1e4;
$color-gray-50: #f5f8ff;
$color-gray-100: #e6e9f2;
$color-gray-200: #aeb8d0;
$color-gray-300: #adb4d2;
$color-gray-400: #8e96b7;
$color-gray-500: #8d96bd;
$color-gray-600: #7382a3;
$color-gray-700: #7a85ad;
$color-gray-800: #676f95;
$color-gray-900: #495274;

// Blue
$color-blue-50: #e9efff;
$color-blue-60: #d2e1ff;
$color-blue-100: #a0b4ff;
$color-blue-200: #6188ff;
$color-blue-300: #5e80ff;
$color-blue-400: #5e81fe;
$color-blue-500: #4c85ff;
$color-blue-600: #5283ff;
$color-blue-700: #3a79ff;
$color-blue-800: #4074f8;
$color-blue-900: #3d4f9f;

// Red
$color-red-50: #ffd7d7;
$color-red-500: #ff3535;
$color-red-600: #d43f3f;

// Cyan
$color-cyan-500: #35aaff;

// Warning
$color-yellow-500: #ffc735;

$color-white: #ffffff;
$color-divider: $color-gray-100;
//</editor-fold>

$transition: .2s;

//</editor-fold>
